.header {
    margin-top: 70px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; /* Logoyu dikey olarak ortalamak için eklendi */
    flex-direction: column; /* İçeriklerin üst üste gelmesini sağlar */
}

.header img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.header h1, .header h3 {
    position: absolute;
}

.logo-container {
    position: absolute;
    top: 10px; /* Logonun üstten konumunu ayarlayın */
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 350px !important; /* Logonun genişliğini burada ayarlayabilirsiniz */
    height: auto !important;
    max-width: 100% !important; /* Logonun kapsayıcıya sığması için */

}

.header h3 {
    top: 200px; /* Alt metnin konumunu logoya göre ayarlayın */
    font-family: 'Satisfy', cursive;
    font-size: 2.6rem;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 3px rgb(255, 255, 255), 
                 0px 0px 6px rgb(255, 255, 255);
}

/* Scroll Animation */
.header{
    transform: translateX(-30px);
    transition: all 0.5s;
    opacity: 0;
}
.header.active {
    transform: translateX(0px);
    opacity: 1;
}

.header h1, .header h3{
    position: absolute;
    transform: translateY(-20px);
    transition: all 0.6s;
    opacity: 0;
}
.header.active h1, .header.active h3{
    position: absolute;
    transform: translateY(0px);
    opacity: 1;
}
.header.active h3{
    transition-delay: 0.3s;
    position: absolute;
    transform: translateY(0px);
    
}